<!DOCTYPE html>
<html>
  <head>
    <title>Facilitoco</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.2/material.blue-pink.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <script defer src="https://code.getmdl.io/1.1.2/material.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div id="global-snackbar" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>
    <p class="large-padding red white-text text-center no-margin" style="<%= 'display:none;' if notice.nil? && alert.nil? %>">
        <%= notice %><%= alert %>
        <span style="float:right;" class="close-parent">X</span>
    </p>
    <div class="mdl-layout mdl-js-layout">
      <%= render "partials/nav" %>
      <main class="mdl-layout__content">
        <div class="page-content"><%= yield %></div>
      </main>
    </div> 
  </body>
</html>
